/*Reset*/
* {
    font-family: "Avenir Next", "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}


/*Utility classes*/
.container {
    max-width: 100%;
    margin: 0;
    padding: 0 2rem;
}

.clr {
    clear: both;
}

.text-primary {
    color: #f79d84;
}

.btn {
    display: inline-block;
    width: 10rem;
    background: #121420;
    color: #f3f3f3;
    box-sizing: border-box;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn:hover {
    background: #f59c83;
    color: black;
}

.btn-btn-light {
    display: inline-block;
    width: 10rem;
    alignment: center;
    background: #fdfdfd;
    color: #050505;
    box-sizing: border-box;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-btn-light:hover {
    background: #f59c83;
    color: white;
}

.bg-dark {
    background: #121420;
    color: white;
}

.bg-light {
    background: #d3d4d9;
    color: black;
}

.info-content p {
    padding-bottom: 1.9rem;
}

.bg-primary {
    background: #70a0af;
    color: white;
}

.py_1 {
    padding: 0.6rem 0;
}

.py_2 {
    padding: 1.3rem 0;
}

.py_3 {
    padding: 1.9rem 0;
}

.labels {
    padding-top: 1.3rem;
    padding-left: 6.3rem;
}

.inputs {
    margin-left: 6.25rem;
    height: 1.7rem;
    width: 33%;
    margin-bottom: 1.3rem;
    font-family: "Segoe UI", sans-serif;
    margin-top: 0.6rem;
}

.l-heading {
    margin-top: 6.25rem;
}


/*Features*/
.box {
    float: left;
    width: 33.3%;
    padding: 3.2rem;
    text-align: center;;
}

.box p {
    padding-bottom: 3rem;
}


/*Main Styling*/

a {
    text-decoration: none;
}

h1 {
    padding-bottom: 1.25rem;
    padding-top: 6.3rem;
    font-size: 3rem;
}

h2 {
    padding-bottom: 1.25rem;
    font-size: 1.9rem;
}

h3 {
    padding-bottom: 1.25rem;
}

p {
    font-size: 1.123rem;
    margin: 0.63rem 0;
    padding-bottom: 1.3rem;
}


/*navbar*/
#navbar .container {
    overflow: hidden;
}

#navbar a {
    color: white;
}

#navbar {
    background-color: #121420;
    color: #e1e1e1;
    overflow: hidden;
}

#navbar .logo {
    padding-top: 0.8rem;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

#navbar li {
    float: left;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li a {
    display: block;
    padding: 1.3rem;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    color: #e1e1e1;
    background-color: #1b2432;
}


/*showcase*/
#showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 38rem;
    background-color: gray;
    background-blend-mode: multiply;
}

#showcase img {
    filter: brightness(50%);
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 3.7rem;
}

#showcase .showcase-content h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
    color: white;
    text-align: center;
}

#showcase .showcase-content p {
    padding-bottom: 3.2rem;
    line-height: 1.7em;
}


/*home info*/
#homeinfo {
    height: 25rem;
}

#homeinfo .info-img {
    float: left;
    width: 50%;
    min-height: 100%;
    background: url("../img/home-bg.jpg") no-repeat center center/cover;
}

#homeinfo .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 3.2rem 1.8rem;
}

#homeinfo .info-content p {
    margin-bottom: 1.8rem;
}


/*footer*/
#main-footer {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.4rem;
    font-weight: bold;
    background: #121420FF;
}


/*about*/
#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
    text-align: justify;
}

#about-info .info-right img {
    display: block;
    width: 77%;
    border-radius: 10%;
    margin: 5rem 5rem;
}


/*contact*/
#contact h2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 6.3rem;
}

#message {
    height: 12.5rem;
    vertical-align: top;
}

#contactbutton {
    margin-top: 1.3rem;
    margin-bottom: 3.2rem;
    margin-left: 6.3rem;
    font-size: 1rem;
}


/*testimonials*/
#testimonials {
    height: 37.5rem;
    background: url("../img/testimonials-bg.jpg") no-repeat center center/cover;
    padding-top: 6.25rem;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 3em;
}

#testimonials .testimonial {
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 6.3rem;
    float: left;
    margin-right: 1.3rem;
}


/*Articles*/
#article1 {
    background: #2da8fd;
    height: 25rem;
    margin: 5rem 0;
}

.article-content {
    float: right;
    width: 80%;
    height: 100%;
    padding: 1rem 0;
}

#article1 h1 {
    padding-top: 4rem;
}

.article-content a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    background: #001833;
    display: block;
    width: 10rem;
    height: 3rem;
    padding-top: 0.8rem;
    padding-left: 0.5rem;
    border: solid 0.06rem #001833;
}

.article-content a:hover {
    background: #013469;
    color: white;
}

.article-img img {
    float: left;
    width: 15rem;
    height: 15rem;
    margin-top: 5rem;
    margin-left: 5rem;
}

.article-content p {
    width: 80%;
}