#form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40rem;
}

#form-background {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-label {
  color: var(--white-color);
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--white-color);
  outline: none;
  cursor: text;
  margin-bottom: 3rem;
  padding: 0 0 0.3rem 0.3rem;
  color: var(--white-color);
  font-weight: 300;
  transition: border-bottom-color 0.3s ease;
}

.form-message-input {
  background-color: transparent;
  border: 3px solid var(--white-color);
  outline: none;
  cursor: text;
  color: var(--white-color);
  font-weight: 300;
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: border-color 0.3s ease;
}

#form-button {
  display: inline-block;
  margin-top: 2rem;
  max-width: 50%;
  height: 3rem;
  background-color: transparent;
  font-weight: 300;
  cursor: pointer;
}

.form-input:focus {
  border-bottom-color: var(--hover-color);
}

.form-message-input:focus {
  border-color: var(--hover-color);
}
