@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  cursor: default;
}

:root {
  --dark-color: #0d1821;
  --white-color: #fff;
  --background-color: #f9eecc;
  --green-color: #197278;
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.section {
  background-color: var(--background-color);
  padding: 3rem 5rem;
}

.heading-1 {
  font-size: 3rem;
  font-weight: 500;
}

.heading-2 {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.button {
  font-size: 1.2rem;
  border: 3px solid var(--dark-color);
  text-decoration: none;
  color: var(--dark-color);
  display: flex;
  width: 10.5rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border-color: var(--green-color);
  color: var(--green-color);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--background-color);
  align-items: center;
  padding: 1rem 5rem 0.8rem 0;
}

.nav-link {
  font-size: 1.2rem;
  color: var(--dark-color);
  text-decoration: none;
  margin: 0 1rem;
  padding-bottom: 0.2rem;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--dark-color);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover::after {
  width: 100%;
}

#showcase-section {
  display: flex;
  justify-content: space-between;
}

#showcase-heading {
  width: 40%;
}

#showcase-description {
  width: 80%;
  font-size: 1.1rem;
  margin-top: 1rem;
}

#showcase-image-container {
  width: 60%;
  padding-right: 5rem;
}

#showcase-image {
  width: 100%;
  border-radius: 15px;
}

.showcase-heading {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.showcase-heading::after {
  content: "";
  height: 13px;
  background-color: var(--green-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  animation: underlineAnimation 1s ease-in-out;
}

#showcase-button {
  margin-top: 2rem;
}

#about-description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

#about-section-image {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

#about-description {
  width: 78%;
}

#about-skills-container {
  display: flex;
  justify-content: center;
}

.skill-column {
  width: 23%;
}

.skill {
  width: 100%;
  margin-top: 1rem;
}

.language-heading,
.skill-heading {
  font-size: 1.3rem;
  font-weight: 500;
}

.skill-line {
  width: 70%;
  height: 8px;
  border: 1px solid var(--dark-color);
  border-radius: 7px;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.skill-line-fullfillment {
  height: 100%;
  background-color: var(--dark-color);
  border-radius: 7px;
}

#html-skill {
  width: 90%;
}

#css-skill {
  width: 80%;
}

#javascript-skill {
  width: 50%;
}

#react-skill {
  width: 40%;
}

#bootstrap-skill {
  width: 60%;
}

#jquery-skill {
  width: 40%;
}

#redux-skill {
  width: 40%;
}

#django-skill {
  width: 20%;
}

#sass-skill {
  width: 70%;
}

#illustrator-skill {
  width: 100%;
}

#photoshop-skill {
  width: 70%;
}

#premiere-skill {
  width: 30%;
}

#aftereffects-skill {
  width: 10%;
}

#davinciresolve-skill {
  width: 80%;
}

#filmora-skill {
  width: 60%;
}

#camtasia-skill {
  width: 100%;
}

#word-skill {
  width: 100%;
}

#excel-skill {
  width: 100%;
}

#powerpoint-skill {
  width: 90%;
}

#access-skill {
  width: 60%;
}

#outlook-skill {
  width: 100%;
}

#teams-skill {
  width: 100%;
}

#emails-skill {
  width: 100%;
}

#socialmedia-skill {
  width: 100%;
}

#meet-skill {
  width: 90%;
}

#facetime-skill {
  width: 100%;
}

#discord-skill {
  width: 80%;
}

#zooom-skill {
  width: 60%;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-size: 1.1rem;
}
