#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 3rem;
  margin-top: 4rem;
}

.project {
  width: 15rem;
  height: 15rem;
  border: 3px solid var(--white-color);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.project img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.project-title {
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.732);
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
  z-index: 1;
}

.project img:hover {
  transform: scale(1.2);
}
