@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

:root {
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: gray;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 90vw;
  margin: auto;
}

.heading-1 {
  font-size: 2.7rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding-bottom: 0.7rem;
}

.heading-1::after {
  content: "";
  height: 10px;
  width: 100%;
  background-color: var(--gray-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: right;
}

.navbar-link {
  padding-bottom: 0.5rem;
  margin: 1.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark-color);
  cursor: pointer;
  position: relative;
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 20px;
  background-color: var(--dark-color);
  transition: width 0.4s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

.project {
  height: 15rem;
  width: 15rem;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.project-title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.803);
  width: 100%;
  padding: 0.7rem 0;
  font-size: 0.8rem;
}
