* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.card-section {
    height: 70vh;
    width: 80vw;
    display: flex;
    margin: 5vh 10vw;
}

.container {
    max-width: 100vw;
    background-color: #d6d6ca;
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 500;
}

.heading-1 {
    font-size: 4rem;
    color: #5e5e4a;
}

.heading-2 {
    font-size: 3rem;
    color: #5e5e4a;
}

.heading-3 {
    font-size: 1.3rem;
    color: #000;
}

.paragraph-1 {
    font-size: 1.2rem;
}

.pad-1 {
    padding: 1.5rem 0;
}

.pad-2 {
    padding: 2.5rem 0;
}

.pad-3 {
    padding: 3.5rem 0;
}

.padA-1 {
    padding: 1.5rem;
}

.padA-2 {
    padding: 2.5rem;
}

.separator-L {
    border-left: 1px solid gray;
}

.btn-dark {
    background-color: #5e5e4a;
    display: flex;
    width: 7rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 2rem;
    font-size: 0.8rem;
    transition: background-color 0.5s;
}

.btn-dark:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #000;
    transition: all 0.5s
}

.logo a {
    color: black;
    font-size: 1.3rem;
    padding: 1rem;
}


/* Navigation Bar */
#navbar {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 1rem 5rem;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px solid #0a050b;
    height: 10vh;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #fff;
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar ul li a {
    padding: 1rem;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
}

#navbar ul li a.current,
#navbar ul li a:hover {
    border-bottom: 3px solid #000;
    transition: all  ease-out .2s
}


/* Contact */
#contact .container {
    display: flex;
}

#contactinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    padding-left: 15%;
    overflow: hidden;
}

#contactinfo div {
    display: flex;
    flex-direction: row;
    padding: 0.7rem 0;
}

#contactinfo i {
    padding-right: 1rem;
    color: #000;
}

#contactinfo p {
    color: #000
}

#contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 6%;
    margin: 9% 0;
}

#contactform form {
    display: flex;
    flex-direction: column;
}

#contactform input {
    width: 40%;
    margin-bottom: 2rem;
    line-height: 2rem;
}

#contactform textarea {
    width: 40%;
}


/* Events */
#events .eventinfo {
    border-bottom: 1px #707070 solid;
    margin: 0 20%;
    padding-left: 1rem;
}

#events .eventinfo p {
    margin-bottom: 0.5rem;
}


/* About */
#about .container p {
    margin: 0 5%;
}


/* Footer */
footer {
    border-top: 1px solid #000;
    height: 10vh;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}