@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  cursor: default;
}

body {
  min-height: 100vh;
  width: 90vw;
  margin: auto;
}

section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading-1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
  color: #186d9b;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.colored-text {
  color: red;
}

section {
  width: 40%;
  border: 3px solid black;
  padding: 2rem;
}

#absence-form {
  display: flex;
  flex-direction: column;
}

.znamky-input-field,
.absence-input-field {
  border: none;
  border-bottom: 2px solid black;
  width: 40%;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: text;
}

.absence-input-field:focus {
  outline: none;
}

#znamky-form-inputs {
  display: flex;
  column-gap: 2rem;
}

#absence-form-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.button {
  color: white;
  background-color: black;
  cursor: pointer;
  outline: none;
}

#znamky-button,
#absence-button {
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}

#znamky-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

#add-znamka-button {
  width: 30%;
}

#znamky-list {
  list-style: none;
  margin-bottom: 1.5rem;
}

.delete-icon {
  color: red;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.znamka {
  font-size: 1.1rem;
}

.absence-result-text,
#znamky-result {
  font-size: 1.2rem;
}

@media screen and (max-width: 769px) {
  .container {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  section {
    width: 70vw;
  }

  #znamky-section {
    margin-bottom: 3rem;
  }

  #znamky-form-inputs,
  #absence-form-inputs {
    flex-direction: column;
  }

  .znamky-input-field,
  .absence-input-field {
    width: 100%;
  }

  .absence-result-text {
    margin-top: 2rem;
  }

  #znamky-form {
    flex-direction: column;
  }

  #add-znamka-button {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 0;
  }
}
