#aboutShowcase {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-color: #DCD5EB;
}

.aboutContainer {
    margin: 5rem 10rem;
    text-align: center;
}

.aboutContainer h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#description {
    font-size: 1.2rem;
}