.contactContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 0 7rem;
}

.contactItem {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.contactItem p {
    padding: 0 1rem;
    font-size: 1.2rem;
}

#contactShowcase {
    display: flex;
    height: 80vh;
    background-color: #DCD5EB;
    justify-content: center;
}

input {
    height: 2.5rem;
    width: 40rem;
    border: 0.2px solid gray;
    border-radius: 7px;
    padding: 0 0.7rem;
    margin: 0.5rem 0 2rem 0;
}

textarea {
    height: 15rem;
    width: 40rem;
    border: 0.2px solid gray;
    border-radius: 7px;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem 0 2rem 0;
}

label {
    font-weight: 600;
}

.contactContainer h2 {
    margin-bottom: 1rem;
}

.button {
    border-radius: 7px;
    display: inline-block;
    height: 3rem;
    width: 10rem;
    border: none;
    background-color: #2C2145;
    color: white;
    font-size: 1rem;
    transition: ease 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #45356e;
    transition: ease 0.2s;
}