* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*------------- Utility Classes -----------------*/
.head-1 {
    font-size: 3.5rem;
    background: linear-gradient(to right, hsl(239, 88%, 47%), hsl(27, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.head-2 {
    font-weight: 600;
    font-size: 2rem;
}

.row {
    display: flex;
    margin: 0 5rem;
    justify-content: space-around;
}

.col-2 {
    width: 40%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 20%;
}

.col-4 img {
    width: 100%;
}

.par {
    font-size: 1.1rem;
    font-weight: normal;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.13) 0 5px 15px;
    transition: transform 0.5s;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

.btn {
    padding: 1rem 5rem;
    background-color: #ffffff;
    text-decoration: none;
    margin-top: 2rem;
    color: #000;
    border: 2px solid #8b2faf;
    transition: background-color 0.2s;
}

#button110 {
    display: block;
}

#button210 {
    display: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #8b2faf;;
    color: #fff;
}

.text-center {
    text-align: center;
}

.blank {
    box-shadow: none;
    cursor: initial;
}

/*------------------ Navigation Bar ----------------*/
.main-list {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-end;
}

.mobile-navbar {
    display: none;
}

#bars {
    display: none;
}

#cart {
    color: #000;
    font-size: 1.5rem;
    transition: color 0.2s;
    padding: 1rem;
}

#cart:hover {
    color: #8b2faf;
}

.navbar {
    display: flex;
    top: 0;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.logo {
    margin-left: 5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    width: 20vw;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: border-bottom-width 0.2s;
}

.navbar ul li a:hover {
    border-bottom: 4px solid #8b2faf;;
}

/*------------------ Main ---------------*/
.header p {
    margin: 0 5rem;
}

.header {
    height: 55vh;
}

/*---------------- About ---------------*/
.about {
    margin: 0 7rem;
}

.about {
    height: 55vh;
}

/*-------------- Contact ------------*/
#info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#submitted {
    margin: 1rem 0;
    display: none;
}

.showcase {
    height: 60vh;
}

.showcase h2 {
    margin-bottom: 20px;
}

.showcase label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.showcase input {
    display: block;
    margin-bottom: 1rem;
    width: 80%;
    height: 2.3rem;
    padding-left: 10px;
}

.showcase textarea {
    width: 80%;
    height: 10rem;
    padding-left: 10px;
    padding-top: 10px;
}

.showcase .col-2 .fa-phone {
    display: inline;
}

.showcase p {
    display: inline;
}

.colored-icon {
    font-size: 1.5rem;
    color: #8b2faf;
    padding: 0 1rem;
}

.info-item {
    display: flex;
    justify-items: center;
}

/*----------------- Events ------------------*/
.events .head-1 {
    margin-bottom: 0.5rem;
}

.events {
    height: 55vh;
}

/*------------------- Categories  -------------------*/
.categories .row {
    align-items: normal;
}

.category-title {
    font-weight: normal;
    text-align: center;
    margin: 2rem;
}

/*-------------------- Category ---------------------*/
.product-title {
    font-weight: 500;
    padding: 2rem 1rem;
}

.product-prize {
    text-align: center;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*------------ Product Detail -------------------*/
.product .row {
    margin-bottom: 7rem;
    align-items: center;
}

.product-detail-head-1 {
    font-size: 2rem;
    color: #8b2faf;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.product-detail-head-2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.col-2 .product-detail-par {
    margin-bottom: 2rem;
}

.product .row img {
    width: 80%;
}

.product .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amountInput {
    width: 20%;
    border: 2px solid #000;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 2.5rem 0;
}

.product-detail-prize {
    font-size: 2rem;
    font-weight: normal;
}

.product-btn {
    width: 30%;
    padding: 1rem 0;
    text-align: center;
}

/*------------- Cart ------------------------*/
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#item-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#no-item-alert {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-table {
    width: 50%;
}

.cart-table th {
    text-align: left;
    padding: 1.5rem 1rem;
    background-color: #8b2faf;
    color: #fff;
    font-weight: 600;
}

.cart-table td {
    padding: 1.5rem 1rem;
}

.cart-container {
    width: 50%;
    padding: 1rem 0.5rem;
    border-top: 1px solid #000;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
}

.cart-container p {
    padding: 1rem 0;
}

.payment-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*--------------------------- Footer --------------------------*/
footer {
    background-color: #eeeeee;
    margin-top: 5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 3rem;
    align-items: center;
}

.footer-row {
    display: flex;
    flex-direction: column;
}

.footer-row p,
.footer-row a {
    color: grey;
}

/*---------------------- Cookies --------------------*/
.cookies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookies-box {
    width: 40%;
    margin: 2rem 0;
}

#cookies-box-1 p {
    padding: 1rem 0;
}

#cookies-box-2 p {
    padding: 0.5rem 0;
}

#cookies-box-2 a {
    color: grey;
}

/*------------------ Doprava a platba ------------*/
.doprava {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doprava h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.doprava-box {
    width: 40%;
    margin: 3rem 0;
}

.doprava-box p {
    padding: 1rem 0;
}

#platba ul {
    list-style: none;
}

#platba ul li {
    padding: 0.5rem 0;
}

/*------------------ GDPR a obchodní podmínky -------------------------*/
.obchodni-podminky,
.GDPR {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

/*------------------------------ Responsive -----------------------------*/
@media screen and (max-width: 768px) {
    /*------------- Utility Classes ---------*/
    .head-1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .header p {
        margin: 0 1.3rem;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
    }


    .col-4 {
        width: 100%;
    }

    /*---------- Navbar -------------*/
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar .logo {
        margin: 0;
        padding: 1rem 0 1rem 2rem;
        width: 60%;
    }

    .mobile-navbar {
        display: none;
        flex-direction: column;
    }

    .main-list {
        width: 60%;
    }

    .mobile-navbar ul li {
        display: block;
        background-color: #8b2faf;
        padding: 1rem;
    }

    .mobile-navbar ul li a {
        text-decoration: none;
        color: #fff;
    }

    .navbar ul {
        display: none;
    }

    #bars {
        display: block;
        font-size: 1.5rem;
        padding: 3rem 2rem;
        margin: 0;
    }

    /*----------- Products -----------*/
    .categories .head-1 {
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .product-title {
        padding: 1rem;
    }

    .amountInput {
        width: 50%;
    }

    /*------------ About -------------*/
    .about {
        margin: 0 1.3rem;
        height: auto;
    }

    /*---------- Contact ---------*/
    .showcase {
        height: auto;
    }

    .showcase .head-2 {
        margin-top: 2rem;
    }

    .showcase .col-2 {
        width: 100%;
    }

    .showcase .head-2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #info {
        padding: 0;
        margin-bottom: 3rem;
        align-items: center;
    }

    #info .info-item {
        padding: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    #info .info-item p {
        font-size: 1rem;
    }

    #form label {
        font-size: 0.9rem;
    }

    #form input,
    #form textarea,
    #form .btn {
        width: 100%;
    }

    /*---------- Events ----------*/
    .events p {
        font-size: 1rem;
    }

    /*----------- Product Detail ---------*/
    .product .row {
        margin-bottom: 1rem;
    }

    .product .col-2 {
        align-content: center;
        flex-wrap: wrap;
    }

    .product-detail-head-1 {
        font-size: 2rem;
        padding: 1rem 0;
        margin-top: 2rem;
    }

    .product-btn {
        width: 100%;
        margin-bottom: 1rem;
    }

    .product .col-2 {
        width: 100%;
    }

    .product-detail-head-1 {
        text-align: center;
    }

    /*-------------- Footer -------------*/
    .footer-container {
        flex-direction: column;
        padding: 2rem;
        align-items: normal;
    }

    .footer-container p {
        padding: 0;
    }

    .footer-row {
        padding: 1rem 0;
    }

    /*----------- Cookies a Doprava -------*/
    #cookies-box-1 {
        margin-top: 0;
    }

    .doprava-box {
        width: 70%;
        margin-top: 0;
    }

    .doprava-box h2 {
        margin-bottom: 0;
    }

    .cookies-box {
        width: 70%;
    }

    /*------------- Cart --------------*/
    .cart-table {
        width: 30%
    }
    .cart-container {
        width: 90%;
    }

    .cart-container p {
        font-size: 1rem;
    }

    .payment-container {
        width: 90%;
    }
}