#about .items {
    display: block;
    padding: 1rem;
}

#about .item {
    display: flex;
    text-align: left;
}

#about .item i {
    align-self: center;
    margin-right: 1.3rem;
    margin-bottom: 0;
}

/* Smartphones */
@media screen and (max-width: 500px) {
    #navigation_bar {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .heading-1 {
        font-size: 3rem;
    }

    #project {
        display: block;
        padding: 1rem;
    }

    #project .heading-2 {
        margin-bottom: 2rem;
    }

    #photos .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }

    #navigation_bar #hamburger{
        display: block;
    }

    #navigation_bar ul {
        flex-direction: column;
        align-items: stretch;
        display: none;
    }

    #navigation_bar ul li {
        padding: 0.5rem;
        border-bottom: dotted gray 1px;
    }

    #navigation_bar ul li:first-child {
        margin-top: 0.8rem;
        border-top: dotted gray 1px;
    }
}

@media screen and (max-height: 568px) {
    .heading-1 {
        font-size: 2rem;
    }

    #navigation_bar {
        align-items: flex-start;
    }

    #navigation_bar ul {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}