* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

footer {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border-top: solid gray 1px;
}

/* Utility Classes */
.container {
    max-width: 1100px;
}

.pad-1 {
    padding: 1.5rem 0;
}

.pad-2 {
    padding: 2.5rem 0;
}

.pad-3 {
    padding: 3.5rem 0;
}

.text-center {
    text-align: center;
}

.heading-1 {
    font-size: 4rem;
    font-weight: bold;
}

.heading-2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

/* Showcase */
#showcase {
    background-color: #282a35;
    height: 50vh;
}

#showcase #showcase_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    color: white;
}

/* Navigation Bar */
#navigation_bar {
    background: #ffffff;
    border-bottom: solid 1px gray;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    top: 0;
    z-index: 2;
    padding: 2rem;

}

#navigation_bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 5rem;
}

#navigation_bar ul li a{
    text-decoration: none;
    color: black;
    margin: 0 0.5rem;
    padding: 1rem 1.5rem;
}

#navigation_bar #a-index {
    background: #fdbfc6;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
}

#navigation_bar #a-index:hover{
    background: #ff8f9a;
}

#navigation_bar #a-apl-softw {
    background: #04a96d;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}

#navigation_bar #a-apl-softw:hover{
    background: #048a5b;
}

#navigation_bar #a-coding {
    background: #344966;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}

#navigation_bar #a-coding:hover{
    background: #27364b;
}

#navigation_bar #a-english {
    background: #fdf2a2;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
}

#navigation_bar #a-english:hover{
    background: #fff46c;
}

#navigation_bar #a-contact {
    background: #282828;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

#navigation_bar #a-contact:hover{
    background: #000000;
}


/* Description */
#description {
    background-color: #93c1bf;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#description  img {
    height: 90%;
    width: 40%;
    display: flex;
    border-right: gray 0.5px solid;
}

#description .container div {
    display: flex;
    width: 50%;
}

#description .container {
    margin-left: 2rem;
}

#description .container a {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 25px;
    background-color: #282a35;
    display: inline-block;
    margin-top: 3rem;
    font-weight: bold;
}

#description .container a:hover {
    background-color: #3b3b4d;
}